#
# .gitignore
# =============================================================================
# The Hooke and Jeeves nonlinear unconstrained minimization algorithm.
# Microservice. Version 0.7.6
# =============================================================================
# A Spring Boot-based application, designed and intended to be run
# as a microservice, implementing the nonlinear unconstrained
# minimization algorithm of Hooke and Jeeves.
#
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
#

# === JVM classes =============================================================
*.class
target/

# === Log files ===============================================================
log/

# === Generated docs ==========================================================
docs/api/
docs/doxygen/

# vim:set nu et ts=4 sw=4:
